*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.HeroSection{
    display: flex;
    /* flex-wrap: wrap; */
    min-height: 80vh;
    /* width: 100%; */
    color: black;
    flex-direction: column;
    position: relative;
}   

/* .BgContainer{
    object-fit: scale-down;
} */

/* .BgContainer img{
    filter: blur(5px);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 60vh;
} */

.HeroSection::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/pexels-karolina-grabowska-4226871.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(2px);
    z-index: 1;
}

.NavBar{
    height: 40px;
}
.NavBarItems{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.NavBarItems a{
    color: rgb(99, 92, 92);
    text-decoration: none;
    font-weight: 400;

}

.HeroPrflContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* flex-wrap: wrap; */
    margin: 20px;
    margin-left: 20%;
    position: absolute; 
    padding: 20px;
    z-index: 3;
    /* after putting z-index only the container is shown */
    height: calc(60vh - 30px);

}

.PrflText{
    display: flex;
    flex-direction: column;

}

.HeroPrflContainer .ImageContainer img{
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    height: auto;
    /* border-radius: 10px 40% 10px 60%; */
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    /* border-radius: 10% 60%; */
    /* border: 3px solid black; */
    ;
    
}

.PrflText span:nth-child(1){
    font-size: 15px;
    line-height: 5px;
    color: black;
    /* margin-left: 40px; */
}

.PrflText span:nth-child(2){
    font-size: 30px;
    font-weight: 400;
    color: black;

}

.PrflText span:nth-child(3){
    font-size: 25px;
    color: goldenrod;
}

.CardSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px;
}

.CardSection h1{
    font-weight: 500;
}
.CardsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    height: 400px;
    width: 300px;
}

.CardContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/*this is called wrapper class here*/
.Card1{
    position: relative;
    overflow: hidden; /*To Cut the overflow background image*/
    
}


.Card1::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/Screenshot_2023-02-25-14-11-54-349_com.android.chrome.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.35;
    
}

.Card1 h3{
    color: rgb(239,79,95);
    font-weight: 600;
    text-align: center;
}

.Card1 h5{
    font-weight: 425;
    font-size: 15px;
    color: black;
    text-align: center;
}
/* .CardContent{
    position: relative;
} */

.CardsContainer{
    background-color: white;
}

.ExploreBtn{
z-index: 2; /*if this is not given,the a tag is merged with the background*/
}
.CardsContainer .ExploreBtn a{
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: 400;
}

@media only screen and (max-width: 1400px) {

    .HeroPrflContainer{
        display: flex;
        flex-direction: column;
    }
    .HeroPrflContainer .ImageContainer img{
        width: 100%;
        height: auto;
        max-height: 200px;
    }

}
@media only screen and (max-width: 1000px) {
    
   
    .NavBarItems{
        z-index: 2;

    }

    .CardsContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin: 20px;
    }

    .HeroPrflContainer{
      display: flex;
      flex-direction: column;
      height: calc(80vh - 40px);
      z-index: 1;
    }
    .PrflText span:nth-child(1){
        font-size: 10px;
        line-height: 5px;
        color: black;
        /* margin-left: 30px; */
    }
    
    .PrflText span:nth-child(2){
        font-size: 20px;
        font-weight: 400;
        color: black;
        /* text-align: center; */
    
    }

    .PrflText span:nth-child(3){
        font-size: 15px;
        color: goldenrod;
        /* text-align: c; */
        
    }
}

